.hero {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3.75rem 1.5rem 0;
  background-color: #040f28;
}
.hero_text{
  order: 2;
  padding-bottom: 1rem;
}

.hero_text h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #c4c4c4;
  margin-bottom: 1.25rem;
}
.hero_text p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #646464;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}
.hero_text button {
  background-color: #fc3867;
  padding: 1rem 2rem;
  border-radius: 5.438rem;
  border: 1px solid #fc3867;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}
.hero_image img {
  width: 100%;
  border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
  .hero_text h1 {
    font-size: 3.5rem;
  }
  
  .hero_text p {
    margin-bottom: 2.5rem;
    line-height: 2rem;
  }

  .hero_image img {
    border-radius: 0;
  }

  .hero {
    flex-direction: row;
    padding: 3.75rem 8.813rem 0;
    gap: 7.188rem;
  }

  .hero_text {
    align-content: center;
    padding-bottom: 5rem;
    max-width: 400px;
  }

  .hero_text button {
    width: 50%;
  }

  .hero_text{
  order: -1;
}
}
