.Subscribe_container {
  text-align: center;
}
.subs_now {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 2.5rem;
  color: #c4c4c4;
}
.subs_update {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1.688rem;
}
.Subscribe_container button {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-color: #fc3867;
  border: #fc3867;
  color: #ffffff;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1200px) {
  .subs_update {
    font-size: 2.5rem;
  }
}
